



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active {
   color: blue;
   text-decoration: underline;
   font-weight: bold;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;

}
.nav-links li {
    margin: 0 40px;
    display: flex;
    text-align: center;

}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('././img//windows.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
      margin-bottom: 150px;
      color: whitesmoke;
      text-align:center;
      top: 500px;
}
.header-content h2 {
     font-size: 4vmin;

}
.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;

}
.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 50px;
    padding: 10px;
    background-color: lightskyblue;

}
/* mobile device */
@media only screen and (max-width:850px) {
    .navbar{
        padding: 0;

    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;   
}
.nav-links {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: ghostwhite;
    margin-top: -900px ;
}
.mobile-menu {
    margin-top :0px;
    
}
.nav-links li {
    margin: 30px auto ;
}

}